build:
  performance:
    jobs:
      run-grakn:
        machine: grabl-ubuntu-1910
        type: background
        timeout: "1800"
        script: |
          git clone https://github.com/graknlabs/grakn.git
          cd grakn
          git checkout 1.7.0
          bazel build //:assemble-linux-targz
          mkdir dist
          tar -xf ./bazel-bin/grakn-core-all-linux.tar.gz -C ./dist/
          cd ./dist/grakn-core-all-linux/
          ./grakn server start -- \
            --tracing-enabled \
            --tracing-uri $GRABL_URI \
            --tracing-username lriuui0x0 \
            --tracing-access-token T30qo2SGRfqYwbdZndtpzVdAEqi4TBEd
          export GRABL_PERFORMANCE_RUN_GRAKN_URI="${HOSTNAME}:48555"
      test-performance-big:
        machine: grabl-ubuntu-1910
        type: foreground
        script: |
          git clone https://github.com/lolski/simulation.git
          cd simulation
          git checkout 49cdd7340c27a4a78734f3051371247e53b0d54d
          cp rootCA.jks /tmp/rootCA.jks
          bazel run //:simulation -- \
            --keyspace world \
            --grakn-uri $GRABL_PERFORMANCE_RUN_GRAKN_URI \
            --tracing-uri $GRABL_URI \
            --org $GRABL_OWNER \
            --repo $GRABL_REPO \
            --commit $GRABL_COMMIT \
            --username lriuui0x0 \
            --api-token T30qo2SGRfqYwbdZndtpzVdAEqi4TBEd \
            --iterations 50 \
            --seed 1
    execution:
      - run-grakn
      - test-performance-big:
          depends: [run-grakn]

