build:
  performance:
    jobs:
      run-grakn:
        machine: grabl-ubuntu-1910-old
        type: background
        timeout: "18000"
        script: |
          git clone https://github.com/lolski/grakn.git
          cd grakn
          git checkout f04512e47c6b8b4ed87239870d07b3ce7f2c58ee
          cp rootCA.jks /tmp/rootCA.jks
          bazel build //:assemble-linux-targz
          mkdir dist
          tar -xf ./bazel-bin/grakn-core-all-linux.tar.gz -C ./dist/
          cd ./dist/grakn-core-all-linux/
          SERVER_JAVAOPTS="-Djavax.net.ssl.trustStore=/tmp/rootCA.jks -Djavax.net.ssl.trustStorePassword=changeit" \
            ./grakn server start -- \
            --tracing-enabled \
            --tracing-uri $GRABL_URI \
            --tracing-username lriuui0x0 \
            --tracing-access-token NPWa1ZF8lhyDf1iEwrfESLKG0hvmT29r
          export GRABL_PERFORMANCE_RUN_GRAKN_URI="${HOSTNAME}:48555"
      test-performance-big:
        machine: grabl-ubuntu-1910-old
        type: foreground
        timeout: "18000"
        script: |
          git clone https://github.com/lolski/simulation.git
          cd simulation
          git checkout f1f3caabe1fbdedd6382a8216c689c93a7ca0094
          cp rootCA.jks /tmp/rootCA.jks
          bazel run //:simulation -- \
            --keyspace world \
            --grakn-uri $GRABL_PERFORMANCE_RUN_GRAKN_URI \
            --tracing-uri $GRABL_URI \
            --org $GRABL_OWNER \
            --repo $GRABL_REPO \
            --commit $GRABL_COMMIT \
            --username lriuui0x0 \
            --api-token NPWa1ZF8lhyDf1iEwrfESLKG0hvmT29r \
            --iterations 5 \
            --seed 1 || true
          sleep 5h
    execution:
      - run-grakn
      - test-performance-big:
          depends: [run-grakn]

